@media screen and ( max-width:600px){
  .button-style{
      
      width: 80%;
      background: lightsalmon;
  }

}

.button-style {

  background :  salmon; 
  color : White;
  font : 3rem sans-serif;
  border : none;
  border-radius: 0.5rem;
  padding : 0.75rem;
  margin : 0.75rem ;
  text-align : center;
  cursor : pointer ;
}

.pokemon-list{
  list-style-type: none;
}